
 <section class="container-contato">

    <!-- BOX FORM -->
    <form id="form" class="slide-form">
        <h1 class="hvr-text">Contato</h1>

        <!-- DIV NOME -->
        <div>
            <label for="nome">Nome</label>
            <input class="input-bk" type="text" id="nome" nome="nome" placeholder="Digite seu nome">
        </div>

        <!-- DIV EMAIL -->
        <div>
            <label for="email">Email</label>
            <input class="input-bk" type="email" id="email" nome="email" placeholder="email@email.com.br">
        </div>

        <!-- DIV MENSAGEM -->
        <div>
            <label for="mensagem">Mensagem</label>
            <input class="input-bk" type="text" id="mensagem" nome="mensagem" placeholder="Digite sua mensagem.">
        </div>

        <!-- DIV BOTÕES -->
        <div class="div-btn">
            <button type="submit" class="btn bk-btn" value="enviar">Enviar</button>
            <button type="reset" class="btn bk-btn" value="cancelar">Cancelar</button>

        </div>

    </form>
    <!-- /container -->
    <!-- <script src="js/polyfills.js"></script> -->
    <!-- <script src="js/demo2.js"></script> -->
    <!-- For the demo ad only -->
    <!-- <script src="http://tympanus.net/codrops/adpacks/demoad.js"></script> -->
</section>
