.container {
    width: 35rem;
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
 }

 div.container.mat-elevation-z8{
   margin-top: 5%;
   margin-bottom: 15%;
 }
 
 .fullWidth {
    width: 100%;
 }

 .container-img{
    align-items: center;
    text-align: center;
 }
 .img-perfil{
    padding: 5%;
    margin: 0 auto;
 }
 
 h1, p {
    text-align: center;
 }
 


 img {
    height: 12rem;
    margin: auto;
 }
 
 .section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
 }
 
 button {
    margin-top: .5rem;
 }
 
 p {
    margin-top: 4rem;
    opacity: .5;
 }
 
 mat-icon {
    opacity: .8;
 }