div.cabecalho {
    background-image: linear-gradient(#771e1e, #000000);
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin: 0 auto;
    text-align: center;
    border: 0;
    max-width: 100%;
}

.img_modal {
    cursor: pointer;
    width: 25vh;
}