

<section class="grid-container">
    <div class="caixa-body">
        <div class="row-body">
            <a class="bloco-link-1" routerLink="/sobre"><div class="col area_1 bloco"><p >Quem somos</p></div></a>
            <a class="bloco-link-1" routerLink="/projetos"><div class="col area_2 bloco"><p >Projetos</p></div></a>
        </div>

        <div class="row-body ">
            <a class="bloco-link-2" routerLink="/servicos"><div class="col area_3 bloco"><p>Serviços</p></div></a>
            <a class="bloco-link-2" routerLink="/info"><div class="col area_4 bloco"><p>Informativo</p></div></a>
            <a class="bloco-link-2" routerLink="/contato"><div class="col area_5 bloco"><p>Contato</p></div></a>
        </div>
    </div>

</section>
