
<app-logo></app-logo>
<div class="container">

    <nav class="navbar navbar-dark bg-dark ">
        <div class="nav-link active">
            </div>
        <div class="">
    
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/clientes" style="color:#FBD603;">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/parceiros" style="color:#FBD603;">Parceiros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/terceirizados" style="color:#FBD603;">Terceirizados</a>
                </li>
            </ul>
        </div>
        <div class="nav justify-content-end">
            <a class="nav-link" href="https://github.com/lipollis/SENAI_FinalProject">
                <i class="fa fa-github" style="font-size:40px;color:red;"></i></a>
        </div>
    </nav>

</div>
