.topnav {
    overflow: hidden;
    background-color: var(--backgroud);
}

.topnav a {
    float: left;
    display: block;
    color: var(--show);
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 17px;
}

.topnav a.a-login{
    padding: 14px 16px; 
    border-radius: 5px;
}

.topnav a:hover {
    background-color: var(--wine);
    color: var(--show);
    border-radius: 5px;
}

.topnav a.active {
    background-color: var(--bloco-menu);
    color: var(--show);
}

.topnav .icon {
    display: none;
}


/* ESTILIZAR OS BOTÕES */
.btn{
    padding: 10px 12px;
    border-radius: 5px;
    border:none;
    background: none;
    color: wheat;
    background-color: var(--wine);
}
button{
    margin-right: 20px;
    float: right;
}

.btn.bk-btn{
  background-color: var(--wine);
  color: var(--show);
}
/* DIV PARA ALINHAR OS BOTÕES NO CENTRO */
.div-btn{
    text-align: center;
}


/* ======================================
            RESPONSIVIDADE
========================================= */

@media (max-width: 600px) {

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
  }

  @media only screen and (min-width: 600px) and (max-width: 1024px) {

  }
  
  @media (min-aspect-ratio: 1025px) {

  }

  @media only screen and (min-width: 1200px) {

  }
  