
<app-header></app-header>

<app-tabbar></app-tabbar>

 <section class="container-body">
    <div class="box-wrap">
        <div class="row">
            <div class="column">
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
            </div>
            <div class="column">
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
            </div>
            <div class="column">
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
                <div class="edicao-imagem"><img id="imagem" src="./assets/img/edicao-de-imagem.svg" alt="Edição de imagem">
                </div>
            </div>

        </div>
    </div>
    
</section>

<app-footer></app-footer>