<div class="container">
    <form class="form mat-elevation-z8">
 
       <h1>AP Engenharia</h1>
 
       <img src="assets/img/logo.svg" alt="Help Desk">
 
       <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input 
          [formControl]="email"
          required
          [(ngModel)]="creds.email" 
          name="email" 
          matInput 
          placeholder=" ">
          <mat-icon matSuffix>email</mat-icon>
          <!-- <mat-hint>E-mail</mat-hint> -->
       </mat-form-field>
 
       <mat-form-field class="full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input 
          [formControl]="senha"
          required
          [(ngModel)]="creds.senha" 
          name="senha" 
          matInput 
          type="hide ? 'password' : 'text'"
          placeholder=" ">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <!-- <mat-hint>Senha</mat-hint> -->
       </mat-form-field>
 
       <button (click)="logar()" [disabled]="!validaCampos()" class="btn-submit full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
    </form>
 
 </div>