div.container{
   margin: 0;
   max-width: 100%;
}

.container {
    height: 100%;
    background: linear-gradient(180deg, #771E1E 0%, #000000 100%);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form {
    width: 30rem;
    margin: auto;
    background-color: var(--bloco-menu);
    padding: 4rem 1rem;
    border-radius: 1rem;
 }
 
 h1 {
    width: 100%;
    text-align: center;
    color: var(--show);
    
 }
 
 img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
 }
 
 .full-width {
    width: 100%;
    padding: 0;
 }
 
.btn-submit {
    margin-top: 1.0rem;
    background-color: var(--wine);
    border-radius: 0.3rem;

 }
 
 mat-icon {
    opacity: .6;
 }

 mat-hint{
    color: blue;
    font-size: 0.7rem;
    opacity: .6;
    
 }

 div.mat-form-field-wrapper.ng-tns-c128-1{
   padding: 0px 0px 0px !important;
 }

div.mat-form-field-flex.ng-tns-c85-0,
div.mat-form-field-flex.ng-tns-c85-1{
   height: 50px;
}

div.mat-form-field-suffix.ng-tns-c85-1.ng-star-inserted{
   height: 35px !important;
}

/* input,
input#mat-input-0,{
   background-color: #AD8E5E !important;
} */

