<app-logo></app-logo>

<app-tabbar></app-tabbar>

<section class="container-body">

    <section class="container-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/01.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/02.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/03.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/04.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/05.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/06.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/07.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/08.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../../assets/img/projeto/09.jpg" alt="Serviço oferecido">
                    <div class="text-block">
                        <h4>Projeto </h4>
                        <p>Projeto desenvolvido</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>

    <app-footer></app-footer>