
<app-logo></app-logo>

<app-tabbar></app-tabbar>

<section class="container-body">
    <ngb-carousel >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/projeto/01.jpg" alt="Projeto desenvolvido">
          </div>
          <div class="carousel-caption">
            <h3>Projeto </h3>
            <p>Projeto desenvolvido</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/projeto/02.jpg" alt="Projeto desenvolvido">
          </div>
          <div class="carousel-caption">
            <h3>Projeto </h3>
            <p>Projeto desenvolvido</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/projeto/03.jpg" alt="Projeto desenvolvido">
          </div>
          <div class="carousel-caption">
            <h3>Projeto </h3>
            <p>Projeto desenvolvido</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/projeto/04.jpg" alt="Projeto desenvolvido">
            </div>
            <div class="carousel-caption">
                <h3>Projeto </h3>
                <p>Projeto desenvolvido</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/projeto/05.jpg" alt="Projeto desenvolvido">
            </div>
            <div class="carousel-caption">
                <h3>Projeto </h3>
                <p>Projeto desenvolvido</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/projeto/06.jpg" alt="Projeto desenvolvido">
            </div>
            <div class="carousel-caption">
                <h3>Projeto </h3>
                <p>Projeto desenvolvido</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/projeto/07.jpg" alt="Projeto desenvolvido">
            </div>
            <div class="carousel-caption">
                <h3>Projeto </h3>
                <p>Projeto desenvolvido</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/projeto/08.jpg" alt="Projeto desenvolvido">
            </div>
            <div class="carousel-caption">
                <h3>Projeto </h3>
                <p>Projeto desenvolvido</p>
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/projeto/09.jpg" alt="Projeto desenvolvido">
            </div>
            <div class="carousel-caption">
                <h3>Projeto </h3>
                <p>Projeto desenvolvido</p>
            </div>
          </ng-template>
      </ngb-carousel>
</section>

<app-footer></app-footer>