body {
    background-color: var(--backgroud);
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    border: 0;
  }
  
.container-body{
  background-color: var(--backgroud);
  margin: 0 auto;
  max-width: 100vw;
  max-height: 100%;
  align-items: center;
  padding: 5%;
}

div.picsum-img-wrapper{
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

/* ======================================
            RESPONSIVIDADE
========================================= */

@media (max-width: 600px) {
  
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  
}

@media (min-aspect-ratio: 1025px) {

}

@media only screen and (min-width: 1200px) {
  
}
