.container {
    width: 45%;
    margin: auto auto 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
 }
 
 div.container.mat-elevation-z8{
   margin-top: 5%;
   margin-bottom: 15%;
 }
 
 .full-width {
    width: 100%;
 }
 
 .container-img{
   align-items: center;
   text-align: center;
}
.img-perfil{
   padding: 5%;
   margin: 0 auto;
}

 h1, img, p{
    text-align: center;
 }
 
 img {
    height: 15rem;
 }
 
 .status-prioridade {
    display: flex;
    justify-content: space-between;
 }
 
 .status-prioridade mat-form-field {
    width: 49%;
 }
 
 .observacoes {
    min-height: 6rem;
    max-height: 10rem;
 }
 
 button {
    margin-top: .5rem;
 }
 
 p {
    margin-top: 3rem;
    opacity: .5;
 }