

<div class="container">
    <div class="footer-copyright  bg-dark text-center py-3">
        <div class="  justify-content-center  ">
            <a class="" href="https://github.com/lipollis" >
                <i class="fa fa-github" style="font-size:40px;color:#FBD603;margin:10px;"></i></a>
    
            <a class="" href="https://www.linkedin.com/in/alinepollisbeck/">
                <i class="fa fa-linkedin" style="font-size:40px;color:#FBD603;margin:10px;"></i></a>
    
            <a class="" href="https://www.facebook.com/aline.pollis/">
                <i class="fa fa-facebook-square" style="font-size:40px;color:#FBD603;margin:10px;"></i></a>
    
            <a class="" href="https://www.instagram.com/alinepollis/">
                <i class="fa fa-instagram" style="font-size:40px;color:#FBD603;margin:10px;"></i></a>
        </div>
            <span class="text-light align-middle">| App AP ENGENHARIA - Projeto Integrador | - ©
                2022 Copyright: Aline Pollis</span>
    </div>
</div>