<nav class=" ">
    <div class="topnav" id="myTopnav">
      <a class="a-login " routerLink="/home" routerLinkActive="selected">Home</a>
      <a class="a-login " routerLink="/sobre" routerLinkActive="selected">Sobre nós</a>
      <a class="a-login " routerLink="/projetos" routerLinkActive="selected">Projetos</a>
      <a class="a-login " routerLink="/servicos" routerLinkActive="selected">Serviços</a>
      <a class="a-login " routerLink="/info" routerLinkActive="selected">Informativo</a>
      <a class="a-login " routerLink="/contato" routerLinkActive="selected">Contato</a>
      <a class="a-login " routerLink="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>

      <div class="div-btn">
        <button type="submit" class="btn bk-btn" value="enviar">
          <a class=" " routerLink="/login">Enviar
          </a></button>
    </div>
    </div>
  </nav>
