<app-logo></app-logo>

<app-tabbar></app-tabbar>

<section class="container-body">
    <ngb-carousel >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/servico/11.jpg" alt="Serviço oferecido">
          </div>
          <div class="carousel-caption">
            <h3>Serviço </h3>
            <p>Serviço oferecido</p>
          </div>

        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/servico/12.jpg" alt="Serviço oferecido">
          </div>
          <div class="carousel-caption">
            <h3>Serviço </h3>
            <p>Serviço oferecido</p>
          </div>

        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../../assets/img/servico/13.jpg" alt="Serviço oferecido">
          </div>
          <div class="carousel-caption">
            <h3>Serviço </h3>
            <p>Serviço oferecido</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/servico/14.jpg" alt="Serviço oferecido">
            </div>
            <div class="carousel-caption">
                <h3>Serviço </h3>
                <p>Serviço oferecido</p>
            </div>
            
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/servico/15.jpg" alt="Serviço oferecido">
            </div>
            <div class="carousel-caption">
                <h3>Serviço </h3>
                <p>Serviço oferecido</p>
            </div>
  
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../../assets/img/servico/16.jpg" alt="Serviço oferecido">
            </div>
            <div class="carousel-caption">
                <h3>Serviço </h3>
                <p>Serviço oferecido</p>
            </div>
          </ng-template>
      </ngb-carousel>
      

</section>

<app-footer></app-footer>