

<footer id="footer">
    <section class="container-footer">
        <!-- ====================================
                MENU REDES SOCIAIS
    ========================================= -->

        <div class="container-social ">
            <div class="grid-container-social">
                <div class="grid-item-social"><a href="https://github.com/lipollis" target="_blank"><span
                            class='fontAwesome fa-brands fa-github'></span></a></div>
                <div class="grid-item-social"><a href="https://www.instagram.com/alinepollis/" target="_blank"><span
                            class='fontAwesome fa-brands fa-instagram'></span></a></div>
                <div class="grid-item-social"><a href="https://www.facebook.com/aline.pollis/" target="_blank"><span
                            class="fontAwesome fa-brands fa-facebook"></span></a></div>
                <div class="grid-item-social"><a href="https://www.linkedin.com/in/alinepollisbeck/"
                        target="_blank"><span class='fontAwesome fa-brands fa-linkedin'></span></a></div>
                <div class="grid-item-social"><a href="" target="_blank"><span
                            class='fontAwesome fa-brands fa-whatsapp'></span></a></div>
                <div class="grid-item-social"><a href="mailto:aline.pollis@hotmail.com" target="_blank"><span
                            class='fontAwesome fa-solid fa-at'></span></a></div>
                <div class="grid-item-social"><a href="" target="_blank"><span
                            class='fontAwesome fa-brands fa-discord'></span></a></div>
                <div class="grid-item-social"><a href="https://t.me/AlinePollis" target="_blank"><span
                            class='fontAwesome fa-brands fa-telegram'></span></a></div>
            </div>
        </div>

        <!-- ================================ -->
        <!--              RODAPÉ              -->
        <!-- ================================ -->
        <div class="rodape-ass">
            <a><img class="assinatura" src="./assets/img/spider-web.png" alt="Marca da teia"></a>
            <br>
            Developed by <br>Aline Pollis
        </div>
        <div class="rodape-sun">
            <a><img class="assinatura" src="./assets/img/sun.png" alt="Sol"></a>
            <br>
            aline.pollis@hotmail.com
        </div>
    </section>
</footer>
